DB_HOST=localhost
DB_PORT=1234
DB_USER=user1234
DB_PASSWORD=여기에_DB_비밀번호_입력
DB_NAME=test
DB_ECHO=false
AUTO_CREATE_TABLES=false
ROOT_PATH=/purchase
PUBLIC_API_URL=https://nexweb.ddnsgeek.com/purchase
A2A_API_KEY=qwer1234567890!